@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --verde: #49A09D;
    --lilas: #5F2C82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transition: width .25s, height .25s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    height: 200px;
    background: url(../img/predio.jpg) no-repeat;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 12px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo {
    display: block;
    width: 100%;
    background-color: var(--lilas);
    border-radius: 10px;
    height: 40px;
    margin: 5px 0;
}

div.campo > label {
    display: none;
}

div#form > form span {
    vertical-align: middle;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;
}

form > input[type=submit]:hover {
    background-color: #438380;
}

form > a.btn {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--verde);
    color: var(--verde);
    transition: .25s;
}

form > a.btn:hover {
    background-color: var(--verde);
    color: white;
}

form > a.btn > span {
    margin-left: 4px;
}


